@charset "utf-8";

.container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  &__content {
    height: 100vh;
    padding-top: 70px;

    &__inner {
      overflow-x: hidden;
      overflow-y: auto;

      &--scrollable-x {
        overflow-x: auto;
      }
      &--scrollable-y {
        height: 100vh;
        padding-bottom: 70px;
        position: relative;
        overflow-y: auto;
      }
    }
  }
}
