@charset "utf-8";

.sor-table {
  .uk-card {
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid @global-border;
    border-bottom-width: 2px;
  }

  &__table {
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid @global-border;
    border-bottom-width: 2px;

    table {
      margin: 0;

      tr {
        &.is-link {
          cursor: pointer;

          &:hover {
            background: fadeOut(@global-primary-background, 95%);
          }
        }
      }

      th,
      td {
        padding: 16px;
      }
    }
  }
}
