@charset "utf-8";

.sor-table {
  &__actions {
    margin-bottom: 15px;
  }
  &__table {
    border: 1px solid @global-border;
    border-radius: 3px;

    table {
      margin: 0;
      th, td {
        padding: 16px;
      }
    }
  }
}
